body {
  background: #f9e933;
}

header {
  background: white;
  overflow: auto;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}


* header, * main, * footer {
  font-family: 'Droid Sans', sans-serif;
}

header h1 {
  float: left;
  width: 570px;
  font-size: 250%;
  font-style: italic;
  color: #505060;
  padding-top: 15px;
  padding-bottom: 40px;
}

header nav {
  float: right;
  width: 285px;
  padding-top: 15px;
  text-align: center;
}

main {
  background: white;
  overflow: auto;
  padding-bottom: 50px;
}

.tabs a span {
  display: inline-block;
  border-radius: 10px 10px 0 0;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  background: #dddddd;
  padding: 5px;
}

.tabs a span.active {
  background: #bee;
}

main .content {
  background: #bee;
  padding-top: 20px;
  padding-bottom: 20px;
}

main .content li {
  background-color: white;
  margin: 10px;
  padding: 5px;
}



footer .foot_left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

footer h5 {
  font-size: 120%;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer p, ul {
  font-size: 80%;
}

footer li {
  color: black;
  font-weight: bold;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}
